* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
    background-color: rgba(190, 238, 245, 0.668);
}

footer {
    grid-area: footer;
    text-align: center;
    margin-top: auto;
    width: auto;
}

main {
    display: grid;
    margin: 5rem;
    justify-content: center;
    border-radius: 2rem;
    /* importante el overflow si no no vale el border radious */
    overflow: hidden;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "container-formulario       container-results"
    ;
    background-color: white;
}

form {
    all: unset;
    display: grid;
    padding: 2rem;
    grid-area: container-formulario;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "h2          clear-all"
        "label-1     label-1"
        "label-2     label-3"
        "lable-0     label-0"
        "label-4     label-4"
        "label-5     label-5"
        "label-6     label-6"
    ;
    background-color: white;


}

.clear-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    text-decoration: underline;
}

.label-1 {
    display: grid;
    grid-area: label-1;
    grid-template-columns: auto;
    gap: 10px;
    grid-template-areas:
        "   p   "
        "   amount   "
        "   mensaje-error   "
    ;
}

.label-1 div {
    display: flex;
    border-radius: 5px;
    border: solid 1.3px rgba(46, 94, 94, 0.445);
}

.label-1 span {
    font-family: 'Plus Jakarta Sans Variable', monospace;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 550;
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(195, 236, 236);
    color: rgb(71, 116, 116);
}

.label-1 input {
    all: unset;
    padding-left: 20px;
    font-weight: 550;
    font-size: large;
}

.label-2 {
    display: grid;
    gap: 10px;
    justify-content: flex-start;
    grid-area: label-2;
    /* grid-template-columns: auto; */
    grid-template-areas:
        "   p   "
        "   term   "
        "   mensaje-error   "
    ;
}


.label-3 {
    display: grid;
    justify-content: flex-end;
    gap: 10px;
    grid-area: label-3;
    /* grid-template-columns: auto; */
    grid-template-areas:
        "   p   "
        "   interest   "
        "   mensaje-error   "
    ;
}

.label-2 div,
.label-3 div {
    display: flex;
    border-radius: 5px;
    border: solid 1.3px rgba(46, 94, 94, 0.445);
}


.label-2 span,
.label-3 span {
    padding: 10px;
    text-align: center;
    font-weight: 550;
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(195, 236, 236);
    color: rgb(71, 116, 116);
}

.label-2 input,
.label-3 input {
    all: unset;
    padding-left: 20px;
    font-weight: 550;
}

.label-4 {
    display: grid;
    grid-area: label-4;
    font-size: large;
    font-weight: 550;

}

.label-4 div,
.label-5 div {
    display: flex;
    gap: 15px;
    padding: 15px;
    border-radius: 5px;
    border: solid 1.3px rgba(46, 94, 94, 0.445);

}

.label-5 {
    display: grid;
    grid-area: label-5;
    font-size: large;
    font-weight: 550;

}

.label-6 {
    display: grid;
    grid-area: label-6;
    justify-content: center;
    align-items: center;
    width: 305px;
    margin-top: 1rem;
    background-color: hsl(61, 70%, 52%);
    border-radius: 35px;
}

.label-6 div {
    display: flex;
    padding: 15px 30px 15px;
    gap: 15px;
}

.label-6 button {
    all: unset;
    font-size: large;
    font-weight: 550;
}

.label-4 input:checked {
    accent-color: yellow;
}

.label-4 div:has(input[type="radio"]:checked) {
    background-color: rgba(255, 255, 0, 0.068);
    border-color: rgba(220, 220, 101, 0.767);
}

.label-5 input:checked {
    accent-color: yellow;
}

.label-5 div:has(input[type="radio"]:checked) {
    background-color: rgba(255, 255, 0, 0.068);
    border-color: rgba(220, 220, 101, 0.871);
}

p {
    grid-area: p;
    color: hsl(200, 24%, 40%);
}


/* ******************************************************************** */

/* TARJETA RESPUESTAS */

.container-results {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(202, 55%, 16%);
    border-radius: 0px 00px 0px 88px;
}


.container-results p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: hsl(203, 41%, 72%);

}

.container-results h2 {
    color: white;

}

.container-empty {
    display: block;
    /* display: none; */
    padding: 2rem;
}

.container-no-empty {
    display: none;
    text-align: start;
    padding: 2.5rem;
}

/* tarjeta peqena con numero */
.resultados {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-align: start;
    border-radius: 10px;
    background-color: hsl(201, 48%, 12%);
    border-top: solid 4px hsl(61, 70%, 52%);

}

.resultados h1 {
    font-size: xxx-large;
    color: hsl(61, 70%, 52%);
    margin-bottom: 20px;
}

.resultados p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resultados hr {
    border: none;
    height: 1px;
    background-color: hsl(200, 24%, 40%);
}

.test-interest{
    display: none;
}

/* ----------------------------------------------------------------------------- */

/* MENSAJES DE ERROR */

.mensaje-error{
    display: none;
    grid-area: mensaje-error;
    font-size: small;
    color: hsl(4, 69%, 50%);
}